name: Publish Docker Image
permissions:
  packages: write
  statuses: write
on:
  pull_request:
    branches:
      - main
  repository_dispatch:
    types:
      - build_userspace
  push:
    branches:
      - main

jobs:
  push_to_registry:
    name: Build & Publish Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: haya14busa/action-cond@v1
        id: branch
        with:
          cond: ${{ github.event.client_payload.branch == null }}
          if_true: ''
          if_false: ${{ github.event.client_payload.branch }}

      - name: Checkout the repo
        uses: actions/checkout@v2
        with:
          ref: ${{ steps.branch.outputs.value }}

      - name: Docker meta
        id: meta
        uses: crazy-max/ghaction-docker-meta@v2
        with:
          # list of Docker images to use as base name for tags
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.output.labels }}
